@import 'base/screenSizes';

// Vars
:root {
	// Header
	--header-position: absolute;
	// Aside
	--aside-display: none;
	// Section
	--section-padding: 2rem;
	--section-filter: none;
	--background-size: 100%;
	// Container
	--container-max-width: 30rem;
	--container-padding: 4rem 2rem;
	--container-filter: var(--filter-heavy);
	--artist-shadow: 0 0 8px #000,
		0 0 8px #000,
		0 0 8px #000,
		0 0 8px #000;
}
// Colours
.darkTheme:root {
	--alt-colour-1: rgba(0,0,0,0.2);
	--alt-colour-2: rgba(0,0,0,0.25);
	--alt-colour-3: rgba(0,0,0,0.3);
}

@media screen and (max-width: $small-screen) {
	:root {
		// Header
		--header-position: fixed;
		// Aside
		--aside-background-colour: transparent;
		// Section
		--section-padding: 0;
		--section-filter: var(--filter-heavy);
		// Container
		--container-max-width: unset;
		--container-padding: 0 var(--body-side-padding);
		--container-filter: none;
		--artist-shadow: 0;
	}
	section.index {
		align-items: center!important;
	}
	.asideOpen {
		&:root {
			--aside-background-colour: transparent;
		}
		aside > div {
			backdrop-filter: var(--filter-heavy);
		}
		section.index {
			div.container,
			div.artist {
				visibility: hidden;
			}
		}
	}
}
