// footer
footer {
	display: flex;
	justify-content: center;
}
// Main
main {
	display: block;
	margin: 0;
	& > article {
		max-width: none;
	}
}

// Section
section.index {
	display: flex;
	position: relative;
	align-items: center;
	padding: var(--section-vertical-padding) var(--section-horizontal-padding);
	min-height: 100vh;

	div.background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: var(--background-size);
		width: var(--background-size);
	}
	div.container {
		max-width: var(--container-max-width);
		padding: var(--container-padding);
		& > :first-child {
			margin-top: 0;
		}
		& > :last-child {
			margin-bottom: 0;
		}
	}
}

section.single.index {
	flex-direction: column;
	justify-content: center;
	row-gap: 0.4rem;
	&.start {
		align-items: start;
	} &.end {
		align-items: end;
	} &:first-child {
		padding-top: calc(var(--header-height) + var(--section-vertical-padding));
	}
}

section.combi.index {
	flex-direction: var(--section-combi-flex-direction);
	justify-content: space-around;
	column-gap: 1rem;
	div.container + div.container{
		margin-top: var(--container-combi-margin);
	}
}

// Downloader
div.osDownload {
	display: none;
	a.download.large {
		display: inline-grid;
		grid-template-areas:
			"icon main"
			"icon subtitle";
		align-items: center;
		column-gap: 1em;
		height: 5rem;
		.img {
			grid-area: icon;
		}
		span.main {
			grid-area: main;
		}
		span.sub {
			grid-area: subtitle;
		}
	}
	.iconButtons {
		display: grid;
		grid-auto-columns: 3em;
		gap: var(--gap);
		height: 5rem;
		a.download.small {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
		}
	}
}

div#osSelect {
	margin-top: 0.4em;
}

.linux div#downloadLinux,
.macos div#downloadMacOS,
.windows div#downloadWindows,
.incompatible div#downloadIncompatible {
	display: inline-flex;
}
