@import 'base/screenSizes';

:root {
	// Global
	--base-padding: 1rem var(--body-side-padding);
	--gap: 0.3rem;
	// Body
	--body-scroll-padding: 0;
	--body-side-padding: 3rem;
	--article-with-image-padding: 0;
	// Main
	--main-padding: var(--base-padding);
	--main-columns: minmax(16rem, 1fr) 4fr 1fr;
	--main-with-image-padding: var(--main-padding);
	// Footer
	--footer-padding: var(--base-padding);
	// Design
	--filter-light: brightness(50%) blur(0.2rem);
	--filter-heavy: brightness(50%) blur(1rem);
	--article-title-size: 3.5em;
	--inline-image-size: 1em;
}

// Small width
@media screen and (max-width: $large-screen){
	:root {
		--main-columns: minmax(16rem, 1fr) 5fr 0;
	}
}
@media screen and (max-width: $medium-screen) {
	:root {
		--body-side-padding: 2rem;
	}
}

@media screen and (max-width: $small-screen) {
	:root {
		// Body
		--body-scroll-padding: 4.5rem;
		// Main
		--main-with-image-padding: 0;
		--main-columns: 0 1fr 0;
		// Design
		--hash-colour: var(--hash-colour-parent-hover);
	}
	header > nav .headerNavItem:not(.headerNavSmall) {
		display: none;
	}
}

@media screen and (max-width: $smaller-screen){
	:root {
		--article-title-size: 2.8em;
	}
	article {
		.floatRight, .floatLeft {
			float: none;
			margin: 0;
		}
		.gridded {
			display: block
		}
	}
}
