<!-- original -->
{{ if .IsTranslated }}
	{{ $langs := "" }}
	{{ range .AllTranslations }}
		{{ $langs = print $langs .Language.Lang "," }}
	{{end}}
	{{ $langs = strings.TrimSuffix "," $langs }}
	<meta property="translations" content='{{ $langs }}'>
{{ end }}

<!--Twitter card-->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Summary }}
	<meta property="og:description" content="{{ chomp (plainify .) }}" />
{{ end }}
{{ block "og-type" . }}<meta property="og:type" content="website" />{{ end }}
{{ block "og-image" . }}
	{{ if and (eq .BundleType "leaf") (.Resources.Get "index.jpg") }}
		{{ with .Resources.Get "index.jpg" }}
		<meta property="og:image" content='{{ .Permalink }}' />
		{{ end }}
	{{ end }}
{{ end }}

<!--Twitter card-->
<meta name="twitter:title" content="{{ .Title }}" />
{{ with .Summary }}
	<meta name="twitter:description" content="{{ chomp (plainify .) }}" />
{{ end }}
