// This fille covers all the variables for reactive design in the MyPaint website

$large-screen: 70rem;
$medium-screen: 60rem;
$small-screen: 45rem;
$smaller-screen: 30rem;

:root {
	// Layout
	--body-scroll-padding: 0;
	--body-side-padding: 3rem;
	--base-padding: 1rem var(--body-side-padding);
	--main-padding: var(--base-padding);
	--main-with-image-padding: var(--main-padding);
	--footer-padding: var(--base-padding);
	--article-with-image-padding: 0;
	--gap: 0.3rem;
	/// Header
	--header-position: initial;
	--header-nav-gap: 5rem;
	--header-nav-columns: repeat(5, 6rem);
	--header-menu-display: none;
	/// Main
	--main-columns: minmax(16rem, 1fr) 4fr 1fr;
	--aside-display: block;

	// Design
	--filter-light: brightness(50%) blur(0.2rem);
	--filter-heavy: brightness(50%) blur(1rem);
	--article-title-size: 3.5em;
	--inline-image-size: 1em;
}

// Small width
@media screen and (max-width: $large-screen){
	:root {
		--main-columns: minmax(16rem, 1fr) 5fr 0;
	}
}
@media screen and (max-width: $medium-screen) {
	:root {
		--body-side-padding: 2rem;
		--header-nav-gap: 3rem;
	}
}

@media screen and (max-width: $small-screen){
	:root {
		--body-scroll-padding: 4.5rem;
		--main-with-image-padding: 0;
		--article-with-image-padding: var(--main-padding);
		--header-position: sticky;
		--header-menu-display: block;
		--header-nav-columns: 1fr 6rem 1fr;
		--main-columns: 0 1fr 0;
		--aside-display: none;
		// Design
		--hash-colour: var(--hash-colour-parent-hover);
	}
	header > nav .headerNavItem:not(.headerNavSmall) {
		display: none;
	}
}

@media screen and (max-width: $smaller-screen){
	:root {
		--article-title-size: 2.8em;
	}
	article {
		.floatRight, .floatLeft {
			float: none;
			margin: 0;
		}
		.gridded {
			display: block
		}
	}
}
