<article>
	<div id="socialBox">
		<a href="{{ .Site.Params.social.Discourse}}" title="MyPaint's community forums"><span class="aUnthemed img inline" style='mask-image:url({{ (resources.Get "icons/forum-outline.svg").RelPermalink }})' alt="Discourse logo"></span></a>
		<a href="{{ .Site.Params.social.Mastodon }}" title="MyPaint on Mastodon"><span class="aUnthemed img inline" style='mask-image:url({{ (resources.Get "icons/brands/mastodon.svg").RelPermalink }})' alt="Mastodon logo"></span></a>
		<a href="{{ .Site.Params.social.YouTube }}" title="MyPaint on YouTube"><span class="aUnthemed img inline" style='mask-image:url({{ (resources.Get "icons/brands/youtube.svg").RelPermalink }})' alt="Mastodon logo"></span></a>
		<a href="{{ .Site.Params.social.Discord }}" title="MyPaint on Discord"><span class="aUnthemed img inline" style='mask-image:url({{ (resources.Get "/icons/brands/discord.svg").RelPermalink }})' alt="Discord logo"></span></a>
	</div>
	<small><i>Text is available under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License 4.0</a>; additional terms may apply.</i></small>
</article>
