@import 'theme/opencolor';

// Global
:root {
	// Dark theme
	--dark-alt-colour-1: rgba(255,255,255,0.05);
	--dark-text-colour: #{$gray-0};
	/// Links
	--dark-link-colour: #{$blue-4};
	--dark-link-colour-hover: #{$blue-3};
	--dark-link-colour-active: #{$blue-2};
	// Light theme
	--light-alt-colour-1: rgba(0,0,0,0.05);
	--light-alt-colour-2: rgba(0,0,0,0.075);
	--light-alt-colour-3: rgba(0,0,0,0.1);
	// Hash
	--hash-colour: transparent;
}

@mixin lightTheme {
	--body-background-colour: #{$gray-0};
	--background-colour: var(--body-background-colour);
	--alt-colour-1: var(--light-alt-colour-1);
	--alt-colour-2: var(--light-alt-colour-2);
	--alt-colour-3: var(--light-alt-colour-3);
	--alt-colour-1-hex: ##ebebeb;
	// Text
	--text-colour: #{$gray-9};
	--text-colour-alt-1: #{$gray-8};
	--text-colour-alt-2: #{$gray-7};
	// Links
	--link-colour: #{$blue-7};
	--link-colour-hover: #{$blue-8};
	--link-colour-active: #{$blue-9};
	--link-colour-visited: #{$violet-5};
	--link-colour-visited-hover: #{$violet-7};
	--link-colour-visited-active: #{$violet-9};
	// Hash
	--hash-colour-parent-hover: #{$gray-5};
	--hash-colour-hover: var(--text-colour-alt-2);
	// Colours
	--yellow: #{$yellow-9};
	--red: #{$red-9};
	// Chroma
	--code-blue: #2D7CBE;
	--code-green: #4D7133;
	--code-grey: #676B74;
	--code-orange: #d19a66; // Not changed
	--code-purple: #9248A8;
	--code-red: #A1454C;
	--code-teal: #2F7A83;
	--code-yellow: #796634;
}

@mixin darkTheme {
	--body-background-colour: #{$gray-10};
	--background-colour: var(--body-background-colour);
	--alt-colour-1: var(--dark-alt-colour-1);
	--alt-colour-2: rgba(255,255,255,0.075);
	--alt-colour-3: rgba(255,255,255,0.1);
	--alt-colour-1-hex: #222222;
	// Text
	--text-colour: var(--dark-text-colour);
	--text-colour-alt-1: #{$gray-2};
	--text-colour-alt-2: #{$gray-5};
	// Links
	--link-colour: var(--dark-link-colour);
	--link-colour-hover: var(--dark-link-colour-hover);
	--link-colour-active: var(--dark-link-colour-active);
	--link-colour-visited: #{$violet-4};
	--link-colour-visited-hover: #{$violet-3};
	--link-colour-visited-active: #{$violet-2};
	// Hash
	--hash-colour-parent-hover: #{$gray-6};
	--hash-colour-hover: #{$gray-4};
	// Colours
	--yellow: #{$yellow-4};
	--red: #{$red-6};
	// Chroma
	--code-blue: #61afef;
	--code-green: #98c379;
	--code-grey: #80858F;
	--code-orange: #d19a66;
	--code-purple: #c678dd;
	--code-red: #e06c75;
	--code-teal: #56b6c2;
	--code-yellow: #e5c07b;
}

// Generate the themes
/// Hide the theme buttons by default
#systemThemeButton,
#darkThemeButton,
#lightThemeButton {
	display: none;
}

@media (prefers-color-scheme: light) {
	.systemTheme {
		&:root {
			@include lightTheme;
		}
		#systemThemeButton {
			display: inline;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.systemTheme {
		&:root {
			@include darkTheme;
		}
		#systemThemeButton {
			display: inline;
		}
	}
}

.lightTheme {
	#lightThemeButton {
		display: inline;
	}
	&:root {
		@include lightTheme;
	}
}
.darkTheme {
	#darkThemeButton {
		display: inline;
	}
	&:root {
		@include darkTheme;
	}
}
