// https://yeun.github.io/open-color/

/// Gray (Modified for equal RGB)
$gray-0: #f8f8f8;
$gray-1: #f1f1f1;
$gray-2: #e9e9e9;
$gray-3: #dedede;
$gray-4: #cecece;
$gray-5: #adadad;
$gray-6: #868686;
$gray-7: #494949;
$gray-8: #343434;
$gray-9: #212121; 
$gray-10: #161616;  // Custom

/// Blue
$blue-0: #e7f5ff;
$blue-1: #d0ebff;
$blue-2: #a5d8ff;
$blue-3: #74c0fc;
$blue-4: #4dabf7;
$blue-5: #339af0;
$blue-6: #228be6;
$blue-7: #1c7ed6;
$blue-8: #1971c2;
$blue-9: #1864ab;

/// Violet
$violet-0: #f3f0ff;
$violet-1: #e5dbff;
$violet-2: #d0bfff;
$violet-3: #b197fc;
$violet-4: #9775fa;
$violet-5: #845ef7;
$violet-6: #7950f2;
$violet-7: #7048e8;
$violet-8: #6741d9;
$violet-9: #5f3dc4;

// Yellow
$yellow-0: #fff9db;
$yellow-1: #fff3bf;
$yellow-2: #ffec99;
$yellow-3: #ffe066;
$yellow-4: #ffd43b;
$yellow-5: #fcc419;
$yellow-6: #fab005;
$yellow-7: #f59f00;
$yellow-8: #f08c00;
$yellow-9: #e67700;

// Red
$red-6: #fa5252;
$red-7: #f03e3e;
$red-9: #c92a2a;
