// Buttons
.button {
	display: inline-flex;
	column-gap: 0.4em;
	align-items: center;
	padding: 1em 1.4em;
	text-decoration: none;
	&.secondary {
		background-color: var(--alt-colour-1);
		color: var(--text-colour);

		&:hover {
			background-color: var(--alt-colour-2);
			color: var(--link-colour-hover);
		}
		&:active {
			background-color: var(--alt-colour-3);
			color: var(--link-colour-active);
		}
	}

	&.big {
		flex-direction: column;
		align-items: flex-start;
		> p {
			margin: 0;
		}
	}
}
