.gridded {
	display: grid;
}

.flexed {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);

	&.row {
		flex-direction: row;
	} &.column {
		flex-direction: column;
	} &.grow > * {
		flex-grow: 1;
	}
}
