@import 'base/screenSizes';

aside {
	width: 100%;
	> div {
		// Display
		overflow-y: scroll;
		display: var(--aside-display);
		// Position
		position: var(--aside-position);
		top: var(--aside-top);
		// Layout
		padding-right: 1rem;
		margin-right: 1rem;
		max-height: calc(100vh - 6rem);
	}
}

#siteNav {
	display: var(--site-nav-display);
}

@media screen and (max-width: $small-screen) {
	.asideOpen aside > div { // Clean this up
		// Display
		z-index: var(--z-index-high);
		// Positioning
		left: 0;
		// Layout
		max-height: calc(100vh - var(--header-height));
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0 var(--body-side-padding);
		// Design
		font-size: 110%;
		h4, .h4 {
			font-size: 1.4em;
		}
	}
}
