{{ if and .BundleType (.Resources.Get "index.jpg") }}
	<section class="title withImage">
		{{ with .Resources.Get "index.jpg" }}
			<div class="titleImg" style="background-image:url({{ .RelPermalink }})"{{ with $.Params.imgAlt }} alt="{{ . }}"{{ end }}></div>
			<div class="titleText">
				{{ partial "article/titleBlock.html" $ }}
			</div>
	</section>
{{ end }}
{{ else }}
	<section class="title">
		{{ partial "article/titleBlock.html" . }}
	</section>
{{ end }}

{{ if and .IsSection (not .Params.hideSummary) }}
	{{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
{{ end }}

<section class="content">
	{{ .Content }}
</section>

{{ partial "article/pageTurner" . }}
