article {
	section.title.withImage {
		display: grid;
		grid-template-areas: "main";
		justify-items: center;
		overflow: clip;
		& > * {
			grid-area: main;
		}
		.titleText {
			z-index: 1;
			padding: 4rem 2rem;
		}
		.titleImg {
			// These are all "layout" properties, but we're using them to hide the bleed
			//  from the filter blur effect.
			position: relative;
			top: -0.2rem;
			width: calc(100% + 0.4rem);
			height: calc(100% + 0.4rem);
		}
		& ~ * {
			margin: var(--article-with-image-padding)
		}
	}
}

// Discourse Comments
#discourse-comments {
	margin: 1rem 0 0;
}
