@use 'base/screenSizes' as screen;

:root {
	--header-position: initial;
	--header-height: 4rem;
	--header-nav-gap: 5rem;
	--header-nav-columns: repeat(5, 6rem);
	--header-menu-display: none;
	--header-scroll-padding: 0;
}

@media screen and (max-width: screen.$medium-screen) {
	:root {
		--header-nav-gap: 3rem;
	}
}

@media screen and (max-width: screen.$small-screen) {
	:root {
		--header-position: sticky;
		--header-menu-display: block;
		--header-nav-columns: 1fr 6rem 1fr;
		--header-scroll-padding: calc(var(--header-height) + 0.5rem);
		--article-with-image-padding: var(--main-padding);
	}
}
