header {
	// Display
	display: flex;
	flex-direction: column;
	justify-content: center;
	// Position
	position: var(--header-position);
	z-index: var(--z-index-high);
	top: 0;
	// Layout
	height: var(--header-height);
	width: 100vw;
	padding: 0 var(--body-side-padding);
	// Design?
	background-color: var(--body-background-colour);

	// Nav Items
	> nav {
		display: grid;
		justify-content: center;
		grid-column-gap: var(--header-nav-gap);
		grid-template-columns: var(--header-nav-columns);
		text-align: center;
		#headerNavMenu {
			display: var(--header-menu-display);
			justify-self: start;
		}
	}
	// Skip to content
	#skipContent {
		position: absolute;
		z-index: var(--z-index-highest);
		top: 1rem;
		left: 1rem;
		display: block;
		overflow: hidden;
		height: 0;
		width: 0;
		&:focus {
			height: unset;
			width: unset;
			padding: 1em 2em;
		}
	}
}
