<div id='discourse-comments'></div>
<script type="text/javascript">
	DiscourseEmbed = {
		discourseUrl: 'https://community.mypaint.app/',
		discourseEmbedUrl: document.querySelector('meta[property="og:url"]').content,
		// className: 'CLASS_NAME',
	};

	(function() {
		var d = document.createElement('script');
		d.type = 'text/javascript';
		d.async = true;
		d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
		(document.querySelector('head') || document.querySelector('body')).appendChild(d);
	})();
</script>
