{{ $classes := "imgInsert " }}
{{ $src := printf "src=%q" (partial "get/src.html" (dict "context" . "src" (.Get "src"))) | safeHTMLAttr }}
{{ $width := "" }}
{{ $height := "" }}
{{ $caption := "" }}
{{ $captionArg := "" }}
{{ $captionInner := "" }}

{{ with (.Get "caption") }}
	{{ $captionArg = . }}
	{{ $caption = . }}
{{ end }}
{{ with .Inner }}
	{{ $captionInner = . }}
	{{ $caption = . }}
{{ end }}
{{ if (and $captionArg $captionInner) }}
	{{ errorf "The %q shortcode accepts either an inner caption or a caption argument but not both. See %s." .Name .Position }}
{{ end }}

{{ with (.Get "width") }}
	{{ $width = printf "width:%s;" . }}
{{ end }}
{{ with (.Get "height") }}
	{{ $width = printf "height:%s;" . }}
{{ end }}


{{ with (.Get "float") }}
	{{ if eq . "right" }}
		{{ $classes = print $classes "floatRight " }}
	{{ else if eq . "left" }}
		{{ $classes = print $classes "floatLeft " }}
	{{ else }}
		{{ errorf "The \"img\" shortcode's parameter \"float\" must be one of \"floatLeft\" or \"floatRight\". %s" $.Position }}
	{{ end }}
{{ end }}


{{ $alt := (printf "alt=%q" (.Get "alt")) | safeHTMLAttr }}
{{ $classes = (printf "class=%q" (trim $classes " ")) | safeHTMLAttr }}
{{ $style := printf "style=%q" (trim (print $width $height) " ") | safeHTMLAttr }}


{{ if $caption }}
	<figure {{ $classes }} {{ $style }}>
		<img {{ $src }} {{ $alt }}/>
		<figcaption>{{ $caption | markdownify }}</figcaption>
	</figure>
{{ else }}
	<img {{ $classes }} {{ $style }} {{ $src }} {{ $alt }}/>
{{ end }}
