{{ $classes := "imgInsert " }}
{{ $src := printf "src=%q" (partial "get/src.html" (dict "context" . "src" (.Get "src"))) | safeHTMLAttr }}
{{ $width := "" }}
{{ $height := "" }}

{{ with (.Get "width") }}
	{{ $width = printf "width:%s;" . }}
{{ end }}
{{ with (.Get "height") }}
	{{ $width = printf "height:%s;" . }}
{{ end }}


{{ with (.Get "float") }}
	{{ if eq . "right" }}
		{{ $classes = print $classes "floatRight " }}
	{{ else if eq . "left" }}
		{{ $classes = print $classes "floatLeft " }}
	{{ else }}
		{{ errorf "The \"img\" shortcode's parameter \"float\" must be one of \"floatLeft\" or \"floatRight\". %s" $.Position }}
	{{ end }}
{{ end }}


{{ $alt := (printf "alt=%q" (.Get "alt")) | safeHTMLAttr }}
{{ $classes = (printf "class=%q" (trim $classes " ")) | safeHTMLAttr }}
{{ $style := printf "style=%q" (trim (print $width $height) " ") | safeHTMLAttr }}


{{ if (.Get "caption") }}
	<figure {{ $classes }} {{ $style }}>
		<img {{ $src }} {{ $alt }}/>
		<figcaption>{{ .Get "caption" }}</figcaption>
	</figure>
{{ else }}
	<img {{ $classes }} {{ $style }} {{ $src }} {{ $alt }}/>
{{ end }}
